$body-color: red;
$font-size: 50px;
$heading-font-family: 'Courier New', Courier, monospace;
$paragraph-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

#container {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-auto-rows: minmax(100px, auto);
}

h1 {
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: center;
  font-family: $heading-font-family;
  font-size: $font-size;
}

h2 {
    font-family: $heading-font-family;
}

p {
    font-family: $paragraph-font-family;
}

li {
    font-family: $paragraph-font-family;
}